:root {
  --font-poppins: "Poppins", sans-serif;

  --isMobile: 768px;
  --max-width: 1100px;
  --border-radius: 12px;

  --main-background-color: #f4f1eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --isMobile: 768px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

.mainWrapper {
  min-height: 100vh;
}

body {
  background: var(--main-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
