.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  background: black;
  min-height: calc(100vh - 78px);
}

.main > section {
  max-width: 1500px;
}

.inlineWrapper {
  width: 100%;
  display: inline-flex;
}

.colummWrapper {
  display: flex;
  flex-direction: column;
}

.titleView {
  padding: 6rem 2rem;
}

.linedText {
  font-family: var(--font-poppins);
  font-weight: 900;

  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.mainTitleEn {
  font-family: var(--font-poppins);
  line-height: 1em;
  font-size: 4em;
  font-weight: 700;
  color: var(--main-background-color);
}

.mainTitleEn::selection {
  color: rgb(139, 0, 0);
}

.mainTitleKr {
  font-weight: 100;
  font-size: 1.5em;
  color: var(--main-background-color);
}

.mainTitleKr::selection {
  color: rgb(139, 0, 0);
}

.mainImageWrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex: 1;
}

.mainImage {
  border-radius: 20px;
  object-fit: cover;
}

.secondSection {
  background: white;
  padding: 50px 24px;
  min-height: 70vh;
  display: inline-flex;
  align-items: center;
}

.secondSection_ImageContainer {
  flex: 1;
  display: inline-flex;
  position: relative;
  gap: 15px;
}

.secondSection_image_1 {
  position: relative;
  width: 400px;
  overflow: hidden;
}

.secondSection_image_2 {
  position: relative;
  width: 300px;
  overflow: hidden;
}

.secondSection_image {
  width: 150px;
  height: 200px;
  border-radius: 12px;
  background: gainsboro;
}

.secondSection_textContaier {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section_mainText {
  font-family: var(--font-poppins);
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1em;
}

.section_mainText_white {
  font-family: var(--font-poppins);
  color: white;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1em;
}

.section_mainText_lined_white {
  font-family: var(--font-poppins);

  font-weight: 800;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.section_mainText_lined_black {
  font-family: var(--font-poppins);
  font-size: 2.5em;
  font-weight: 800;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.section_contentText {
  margin-top: 24px;
  font-size: 1.5em;
  text-align: center;
}

.categorySectionWrapper {
  width: 100%;
  max-width: 1200px;
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categorySectionWrapper_textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.categorySectionWrapper_cardWrapper {
  display: inline-flex;
  gap: 20px;
  width: 100%;
  margin-top: 10rem;
}

.categorySectionWrapper_card {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.categorySectionWrapper_card_number {
  font-family: var(--font-poppins);
  font-size: 2em;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 3rem;
  color: white;
}

.categorySectionWrapper_card_title {
  font-family: var(--font-poppins);
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  margin-bottom: 1rem;
}

.categorySectionWrapper_card_text {
  width: 80%;
  font-family: var(--font-poppins);
  font-size: 1em;
  font-weight: 100;
  color: white;
  margin-top: 5rem;

  white-space: break-spaces;
}

.categorySectionWrapper_card_image {
  position: relative;
  width: 80%;
  height: 250px;
  object-fit: cover;
}
